Package: com.ruslanArdashev.nupsidedown
Name: nupsidedown
Depends: firmware (>= 8.0), mobilesubstrate
Architecture: iphoneos-arm
Description: No upside-down Springboard, no configuration necessary!
Maintainer: Ruslan Ardashev <ruslan.ardashev@duke.edu>
Author: Ruslan Ardashev <ruslan.ardashev@duke.edu>
Section: Tweaks
Version: 1.0-4
Installed-Size: 444
